<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索: {{ query }}</title>
</head>
<body>
    <h1>検索: {{ query }}</h1>
    <ul>
        {% for result in results %}
            <li>
                <a href="/watch?v={{ result.videoId }}">{{ result.title }}</a>
                <a href="/channel/{{ result.authorId }}">{{ result.author }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
